body {
    font-size: 18px;
}

.post_header {
    border-bottom: 2px solid #1eaedb;
    margin-bottom: 18px;
}

.post_header h1 {
    font-size: 41px;
}

.date, .author {
    opacity: 0.7;
}

h1 {
    font-size: 40px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 54px;
}

h3 {
    font-size: 32px;
    line-height: 48px;
}

h4 {
    font-size: 28px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 36px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
}

